/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Estilos del header */
header {
    background-color: grey;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
}

header h1 {
    color: white;
    font-size: 50px;
    margin-top: 50px;
}

/* Estilos de los títulos */
h2 {
    color: grey;
    font-size: 40px;
    font-weight: normal;
    text-transform: capitalize;
}

/* Clases de texto personalizadas */
.text-grey {
    color: grey;
}

/* Estilo personalizado para el precio en color verde dólar y negrita */
.text-green-dollar {
    color: #006400; /* Verde dólar */
    font-weight: bold;
}

.text-justify {
    text-align: justify;
}

.text-center-justify {
    text-align: justify;
    text-align-last: center;
}

.text-center {
    text-align: center;
}

/* Estilos para la sección "Más sobre nosotros" */
#masNosotros .row div {
    margin-bottom: 30px;
}

/* Estilos para la sección "Casas y Departamentos en venta" */
.casaSuenio h2 {
    padding-top: 150px;
    padding-left: 100px;
    text-align: left;
    font-size: 50px;
}

.casaSuenio p {
    padding-top: 20px;
    padding-left: 100px;
    text-align: left;
    font-size: 30px;
}

/* Estilos del footer */
footer p {
    margin: 0;
}

/* Estilos para la sección "Encuentra la casa de tus sueños" */
.bg-grey {
    background-color: grey;
}

.text-secondary {
    color: grey;
}

.display-4 {
    font-size: 2.5rem;
}

.display-5 {
    font-size: 2rem;
    margin-bottom: 1rem; /* Añadir margen inferior */
}

.blog-image img {
    max-height: 200px;
    object-fit: cover;
}

/* Estilos personalizados para los comentarios */
.comment-card {
    background-color: #66cdaa; /* Verde manzana más opaco */
    border-radius: 15px; /* Bordes redondeados */
    color: white; /* Texto en blanco */
}

.comment-card .blockquote-footer {
    color: rgba(255, 255, 255, 0.7); /* Texto del footer en blanco translúcido */
}
